
.body{
    background-color: black;
    color: white;
}
.ibdbImage{
    margin-left: 30%;
}
.moviesNumber{
    font-size: 20px;
    color: white; 
}
.scrapped-movies{
    padding-left: 30%;
    background-color: white;
    color: black;
}
.movieImage{
    height: 92%;
    width:100%
}
.form{
    padding-left: 30%;
}
