<html>
    <head>
        <title>

        </title>
        <link rel="stylesheet" href="{{url_for('static', filename = 'flip.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename ='bootstrap.min.css')}}">
        <script type = "text/javascript" src = "{{ url_for('static', filename= 'text.js')}}"></script>
    </head>

    <body class ="body">
        
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark"">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Navbar</a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        

        <div class="container" >
            <div class="row">
                <div class = "col-lg-6 col-sm-6 col-md-6">
                    <div class='imdbImage'><img class = "img-fluid mt-4 "src="{{url_for('static', filename = 'imbd.png')}}"></div>
                </div>
               
                <div class = "col-lg-6 col-sm-6 col-md-6">
                    <div class=''><img class = " rounded mt-4 movieImage "src="{{url_for('static', filename = 'movies.jpeg')}}"></div>
                </div>
                <div class = "form">
                    <form method = 'post' action = "{{url_for('display')}}">
                        <label class = "mt-4 moviesNumber" for="moviesNum">Number of movies: </label>
                        <input name ="moviesNum" type="text"  placeholder="Enter movies number">
                        <input type="submit" value = "submit">
                    </form>
                </div>
            </div>

            <div class = "scrapped-movies">
                <p>
                    {% for movie in movies %}
                    <img src="{{movie.find('img', class_='loadlate').get('loadlate')}}">
                    <h4>{{movie.h3.a.text}} {{movie.find("span", class_="lister-item-year").text}}</h4>
                    <p>{{movie.find("p", class_= "text-muted").text}}</p>
                    <p>{{movie.find_all("p", class_= "text-muted")[1].text}}</p>
                    <p>{{movie.find("p", class_= "sort-num_votes-visible").text}}</p>
                    <p>{{movie.find("div", class_= "ratings-bar").text}}</p>
                    <p>{{movie.find("p", class_= "").a.text}}</p>
                    {%endfor%}
                </p>
            </div>
        </div>








      

    </body>
</html>



<!-- <html>
    <head>
        <title>

        </title>
    </head>
    <body>
        <p>
            {% for movie in movies %}
            {{movie.find("span", class_="genre").text}}
            {{movie.h3.a.text}}
            {{movie.strong.text}}
            {%endfor%}

        </p>
    </body>
</html> -->